<!-- Header -->
<div class="bgColor1">
  <div class="row">
    <div class="col-4">
    </div>
    <div class="col-4">
      <h1 class="text-white font-dancing text-center">5Tattvaa Preschool</h1>
      <h3 class="text-white text-center">೫ತತ್ತ್ವ ಪೂರ್ವಶಾಲೆ</h3>
      <h6 class="text-white text-center">A Paradigm shift in early learning and care</h6>
    </div>
    <div class="col-4">
      <p class="text-white float-right">
        5tattvaa@gmail.com <br>
        9108614444 / 9108164444 <br>
        Play School & DayCare in Electronic City</p>
    </div>
  </div>
</div>
<div class="bgColor1 m-0">
  <nav class="navbar navbar-expand-lg">
    <ul class="navbar-nav text-center mx-auto">
      <li class="nav-item">
        <a class="nav-link text-white" href="#Home"> Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#Philosophy"> Philosophy
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#Learning">Learning Tools
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#Events">Events
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#Admissions">Admissions
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#Gallery">Gallery
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#Contact">Contact Us
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#About">About
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#ParentsCorner">Parents' Corner
        </a>
      </li>
    </ul>
  </nav>
</div>
<!--End Header -->

<!-- Home -->
<section id="Home">
  <!-- <h1 class="pt-3 pl-2 font-dancing">Home</h1> -->
  <div class="container">

    <!-- Placeholder Image-->
    <a href="https://placeholder.com/">
      <img src=" https://via.placeholder.com/1500x500.png" alt="">
    </a>
    <!-- Placeholder Image-->
    <div class="row pt-3">
      <div class="col-2 bgColor5 text-center pt-2">
        <h4 class="font-dancing"><strong>Daycare</strong></h4>
        <h5 class="font-dancing">Admissions Open</h5>
        <h5>9108614444<br>
          9108164444</h5>
      </div>
      <div class="col-8">
        <h4 class="font-dancing text-center align-content-center">
          <strong>Quality Early Education is a necessity, not a luxury.</strong><br>
          Hence our preschool curriculum is structured to enable
          <strong> Effective learning.</strong>
        </h4>
        <div class="text-center">
          <button class="btn text-white btn-lg rounded-pill bgColor2 ">Download Brochure</button>
        </div>
      </div>
      <div class="col-2 bgColor5 text-center pt-2">
        <h4 class="font-dancing"><strong>Preschool</strong></h4>
        <h5 class="font-dancing">Admissions Open</h5>
        <h5>9108614444 <br>
          9108164444</h5>
      </div>
      <div class="pt-5">
        <h2 class="font-dancing">Testimonials</h2>
        <div>
          <blockquote class="blockquote">
            <p>
              "5Tattvaa Preschool, being my daughter's first school, she truly loved her school, though she was there
              only for a short duration. Initially she was hesitant in going to school... for a week or so... and from
              then there was no looking back. </p>
            <p>The school has brought out little things inside her which as a mother I am proud of. It's been a month
              that she left the school and still I can see her face brighten up when she sees the school event photos
              and she recollects the memories associated with it.</p>
            <p>To be very honest, we miss her school badly.The teachers and other school staff were really caring and
              enthusiastic in their work, who handle kids very politely in the best possible way. Special thanks to
              all school members!! "</p>
          </blockquote>

          <div>
            <blockquote class="blockquote bgColor1 p-2 text-white">
              <p>
                "First, Thanks for making my Kids Preschool so Special. With her we also enjoyed the programs and
                activities conducted by you. Keep going. All the Very Best!"
              </p>
              <footer class="blockquote-footer text-right text-white">Ramya (Radhini's parent)</footer>
            </blockquote>
          </div>

          <div>
            <blockquote class="blockquote bgColor2 p-2 text-white">
              <p>
                "I would like to recommend management to include more activitie based. So that children would love
                engage in learning. Thank you so much for all the hardwork you do! I'm happy about my kids Improvement!"
              </p>
              <footer class="blockquote-footer text-right text-white">Srinivasa Reddy (Likhitesh's parent)</footer>
            </blockquote>
          </div>


          <div>
            <blockquote class="blockquote bgColor3 p-2 text-white">
              <p>
                "We are very Happy to see Thirayashsree now a days, because so much difference that we can't express in
                words. Thank you so much for your great efforts. Keep it up!! Totally 5 Tattvaa Preschool is a good
                place for the kids (Future Tots) You all as teachers doing wonderful work. All the very best !!!"</p>
              <footer class="blockquote-footer text-right text-white">Vyshali (Thirashsree's parent</footer>
            </blockquote>
          </div>

          <div>
            <blockquote class="blockquote bgColor4 p-2 text-white">
              <p>
                "Fields trips like Cubbon park and Banergetta Park should be organised."
              </p>
              <footer class="blockquote-footer text-right text-white">Ketan (Riti's parent)</footer>
            </blockquote>
          </div>

          <div>
            <blockquote class="blockquote bgColor5 p-2 text-white">
              <p>
                "No words to express :)" </p>
              <footer class="blockquote-footer text-right text-white">Punit Kumar(Punkhuri's parent)</footer>
            </blockquote>
          </div>

          <div>
            <blockquote class="blockquote bgColor1 p-2 text-white">
              <p>
                "Good team of teachers, Sharika has improved a lot. Ensured the school provided stage by stage
                learning."
              </p>
              <footer class="blockquote-footer text-right text-white">Sudhir(Sharika's parent)</footer>
            </blockquote>
          </div>
          <div>
            <blockquote class="blockquote bgColor2 p-2 text-white">
              <p>
                "It was a good journey with lot of activities and intiatives which helped the kids in all the ways.
                Thank you for
                everything" </p>
              <footer class="blockquote-footer text-right text-white">Ganesh (Jisha's parent)</footer>
            </blockquote>
          </div>
          <div>
            <blockquote class="blockquote bgColor3 p-2 text-white">
              <p>
                "Very good preschool, good staff, seeing good changes in daiwik after entering in this school"
              </p>
              <footer class="blockquote-footer text-right text-white">Amit Kumar (Daiwaik's parent)</footer>
            </blockquote>
          </div>
          <div>
            <blockquote class="blockquote bgColor4 p-2 text-white">
              <p>
                "Thanks for your support. Nandana has progressed a lot in this small span"
              </p>
              <footer class="blockquote-footer text-right text-white">Deepa (Nandana's parent)</footer>
            </blockquote>
          </div>
          <div>
            <blockquote class="blockquote bgColor5 p-2 text-white">
              <p>
                "I have seen a very good improvement for my kid. Please continue for all the kids"</p>
              <footer class="blockquote-footer text-right text-white">Ravi Prakash (Chetan's parent)</footer>
            </blockquote>
          </div>
          <div>
            <blockquote class="blockquote bgColor1 p-2 text-white">
              <p>
                "Doing pretty good. Just continue the same" </p>
              <footer class="blockquote-footer text-right text-white">Karthik (Avani Bhat's parent)</footer>
            </blockquote>
          </div>
          <div>
            <blockquote class="blockquote bgColor2 p-2 text-white">
              <p>
                "Keep up all the good work. Really happy with staff and management support in grooming kids" </p>
              <footer class="blockquote-footer text-right text-white">Vishnu Vardhan Mylari (Unnathi's parent)</footer>
            </blockquote>
          </div>
          <div>
            <blockquote class="blockquote bgColor3 p-2 text-white">
              <p>
                "Good work done in laying the foundation of next future" </p>
              <footer class="blockquote-footer text-right text-white">Vivek (Varun's parent)</footer>
            </blockquote>
          </div>
        </div>
        <div class="text-center">
          <button class="btn btn-outline-success textColor1 btn-lg rounded-pill border2"
            onclick="loadMoreTestimonials()">Load More</button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Home -->

<!-- Philosophy -->
<section id="Philosophy">
  <hr>
  <h1 class="pt-3 pl-2 font-dancing  font-weight-bold text-center ">Philosophy</h1>
  <div class="container">
    <div class="row">
      <div class="col-8">
        <h2 class="font-dancing">The Five major components instrumental in shaping the child are:</h2>
        <ul>
          <li>
            The Philosophy
          </li>
          <li>
            The Curriculum
          </li>
          <li>
            The Methodology
          </li>
          <li>
            Learning tools
          </li>
          <li>
            Teaching Staff
          </li>
        </ul>
      </div>
      <div class="col-4">
        <button class="btn btn-block text-white bgColor3 mt-3">
          <h3 class="font-dancing">Our Philosophy</h3>
        </button>
        <button class="btn btn-block text-white bgColor4 mt-3">
          <h3 class="font-dancing">Our Teachers</h3>
        </button>
      </div>
      <p>This philosophy is inspired by <strong>MONTESSORI, STEM, MULTI INTELLIGENCE,
          GURUKUL</strong> and <strong>KINDERGARTEN.</strong> </p>
      <p>Every child has an inherent nature and intelligence that is peculiar to him. This varies from child
        to child and is the most important factor to consider when the child comes to school.</p>
    </div>
    <div class="row pt-3">
      <div class="col-6">
        <img src="../assets/images/Intel1.png" alt="">
      </div>
      <div class="col-6">
        <img src="../assets/images/Intel2.png" alt="">
      </div>
    </div>

    <div class="row pt-3">
      <div class="col-12">
        <h2 class="font-dancing">Our Curriculum :</h2>
        <div class="row text-center">
          <div class="col-4">
            <h4 class="font-dancing">Physical</h4>
          </div>
          <div class="col-4">
            <h4 class="font-dancing">Intellectual</h4>
          </div>
          <div class="col-4">
            <h4 class="font-dancing">Language</h4>
          </div>
          <div class="col-6">
            <h4 class="font-dancing">Creative</h4>
          </div>
          <div class="col-6">
            <h4 class="font-dancing">Socio-Emotional</h4>
          </div>
        </div>
      </div>

      <p>Curriculum is the set of experiences, activities and events, direct or indirect which occur in an environment
        specially planned to foster children’s learning and development. In simple terms. Curriculum is a plan for
        learning.
        <br>
        Our Curriculum is a comprehensive child- centric curriculum that comes with set of objectives in all major areas
        of development. It is related to the child’s development readiness, interests, questions, style of learning and
        the culture context in which the child finds himself.</p>
    </div>

  </div>
</section>
<!-- /Philosophy -->

<!-- Learning Tools -->
<section id="Learning">
  <hr>
  <h1 class="pt-3 pl-2 font-dancing">Learning Tools</h1>
  <div class="container">

  </div>
</section>
<!-- /Learning Tools -->

<!-- About -->
<section id="About">
  <hr>
  <h1 class="pt-3 pl-2 font-dancing  font-weight-bold text-center ">About</h1>
  <div class="container">
    <h2 class="font-dancing text-center">Our Vision</h2>
    <h3 class="font-dancing text-center">A leader in excellent early education</h3>
    <div class="row">
      <div class="col-6">
        <!-- <img src="" alt=""> -->
      </div>
      <div class="col-6">
        <h2 class="font-dancing text-center">Purpose of Education</h2>
        <ul>
          <li>Aid Children in becoming independent thinkers and doers, in other words enhance skills that will make them
            excel at whatever they do!!</li>
          <li>
            Create social awareness so the world can be a better place to live in, in other words foster social skills &
            values that will make them good human beings
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <h2 class="font-dancing text-center">What differentiates us:</h2>
        <ul>
          <li>True Child-Centric approach</li>
          <li> Integrated Methods</li>
          <li> Structured Curriculum</li>
          <li> Comprehensive set of objectives for the overall development of the child</li>
          <li> Materials and tools for learning designed for the curriculum</li>
          <li> A methodology that instills a sense of purpose & interest in the child</li>
          <li> Revolutionary assessment techniques</li>
        </ul>
      </div>
      <div class="col-6"></div>
    </div>
  </div>
</section>
<!-- /About -->

<!-- Events -->
<section id="Events">
  <hr>
  <h1 class="pt-3 pl-2 font-dancing  font-weight-bold text-center ">Events</h1>
  <div class="container">
    <h2 class="font-dancing text-center">Upcoming Events</h2>
    <div class="bgColor5 pt-2 pb-2 text-white">
      <ul>
        <li>
          <h3 class="font-dancing">Parent Child Activity - Build your own Ganesha Idol with Clay</h3> 31th August 2019,
          11:00
          am to 1pm | Register here now! | https://tinyurl.com/ganesh-5tattvaa
        </li> <br>
        <li>
          <h3 class="font-dancing">Summer Camp & Learn French through YBC (Your Baby Can) !!</h3> 3rd to 26th Apr 2019 |
          2nd
          to 24th May 2019
        </li> <br>
        <li>
          <h3 class="font-dancing">School Closing party</h3> Theatre show with puppet show, pot luck and lots more
          fun... |
          29th March 2019
        </li> <br>
      </ul>
    </div>

    <h2 class="font-dancing text-center">Completed Events</h2>
    <div class="row bgColor2 pt-2 pb-2 text-white">
      <div class="col-6">
        <ul>
          <li>
            <h3 class="font-dancing">
              School Inauguration </h3>
            January 29 , 2017
          </li>
          <li>
            <h3 class="font-dancing">Road Show at Ajmera conducted by 5Tattvaa | Preschool Colouring Activity</h3>
            February 25, 2017​
          </li>
          <li>
            <h3 class="font-dancing">Family Science Day</h3>
            April 1st, 2017
          </li>
          <li>
            <h3 class="font-dancing">Exclusive Science Utsav for age group 5 to 14 Yrs</h3>
            April 2017
          </li>
          <li>
            <h3 class="font-dancing">Fun Utsav for Kids & Teens</h3>
            April 2017
          </li>
          <li>
            <h3 class="font-dancing">Free Parent - Child Workshop</h3>
            February 3rd 2018
          </li>
        </ul>
      </div>
      <div class="col-6">
        <ul>
          <li>
            <h3 class="font-dancing">Annual Day Celebrations "UTSAV " </h3>
            February 10th, 2018
          </li>
          <li>
            <h3 class="font-dancing">Summer Camp for Teens & Kids</h3>
            April 2nd to April 27th & May 2nd to 25th, 2018
          </li>
          <li>
            <h3 class="font-dancing">Independence Day Celebrations</h3>
            August 14th, 2018
          </li>
          <li>
            <h3 class="font-dancing">Children's Day Celebrations</h3>
            November 14th, 2018
          </li>
          <li>
            <h3 class="font-dancing">Annual Day Celebrations "UTSAV "</h3>
            January 26th, 2018
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- /Events -->

<!-- Admissions -->
<section id="Admissions">
  <hr>
  <h1 class="pt-3 pl-2 font-dancing  font-weight-bold text-center ">Admissions</h1>
  <div class="container">
    <h4 class="text-center">Day care and transport facility available</h4>

    <div class="bgColor3 text-white p-2">
      <h3 class="font-dancing"> Admissions / Enquiry Form </h3>

      <!-- <form class="form-horizontal" [formGroup]="form"> -->
      <form class="form-horizontal">
        <div class="form-group">
          <div class="row pt-2">
            <label class="col-2 offset-1 control-label" for="form-control-1">Name of the Child<span
                class="required">*</span></label>
            <div class="col-8">
              <input class="form-control" type="text" placeholder="e.g. John Doe">
              <!--add -> [formControl]="name" above -->
            </div>
          </div>
          <div class="row pt-2">
            <label class="col-2 offset-1 control-label" for="form-control-1">Name of the Parent<span
                class="required">*</span></label>
            <div class="col-8">
              <input class="form-control" type="text" placeholder="e.g. Jane Doe">
            </div>
          </div>
          <div class="row pt-2">
            <label class="col-2 offset-1 control-label" for="form-control-1">Mobile Number<span
                class="required">*</span></label>
            <div class="col-8">
              <input class="form-control" type="text" placeholder="e.g. 9108164444">
            </div>
          </div>
          <div class="row pt-2">
            <label class="col-2 offset-1 control-label" for="form-control-1">Date Of Birth<span
                class="required">*</span></label>
            <div class="col-8">
              <input class="form-control" type="text" placeholder="e.g. DD-MM-YYYY">
            </div>
          </div>
          <div class="row pt-2">
            <label class="col-2 offset-1 control-label" for="form-control-1">Email<span
                class="required">*</span></label>
            <div class="col-8">
              <input class="form-control" type="text" placeholder="e.g. JohnDoe@examplemail.com">
            </div>
          </div>
          <div class="row pt-2">
            <label class="col-2 offset-1 control-label" for="form-control-1">Residential Address<span
                class="required">*</span></label>
            <div class="col-8">
              <textarea class="form-control" type="text" placeholder="e.g. " cols="30" rows="5"></textarea>
            </div>
          </div>
          <div class="row pt-2">
            <label class="col-2 offset-1 control-label" for="form-control-1">Age Group<span
                class="required">*</span></label>
            <div class="col-8">
              <div class="radio">
                <label><input type="radio" name="optradio" checked>T1 (2-3 yrs)</label>
              </div>
              <div class="radio">
                <label><input type="radio" name="optradio">T2 (3-4 yrs)</label>
              </div>
              <div class="radio">
                <label><input type="radio" name="optradio">T3 (4-5 yrs)</label>
              </div>
              <div class="radio">
                <label><input type="radio" name="optradio">T4 (5-6 yrs)</label>
              </div>
              <div class="radio">
                <label><input type="radio" name="optradio">DayCare</label>
              </div>
              <div class="radio">
              </div>
            </div>
          </div>
          <div class="row pt-2">
            <label class="col-2 offset-1 control-label" for="form-control-1">Transportation Required?<span
                class="required">*</span></label>
            <div class="col-8">
              <input type="checkbox" value=""> Yes
            </div>
          </div>
          <div class="text-center">
            <button class="btn bgColor5 pt-2 btn-lg rounded-pill text-white" type="submit"
              onclick="submit()">Submit</button>
          </div>
        </div>
      </form>
    </div>

  </div>
</section>
<!-- /Admissions -->

<!-- Gallery -->
<section id="Gallery">
  <hr>
  <h1 class="pt-3 pl-2 font-dancing  font-weight-bold text-center ">Gallery</h1>
  <div class="container">

  </div>
</section>
<!-- /Gallery -->

<!-- Contact -->
<section id="Contact">
  <hr>
  <h1 class="pt-3 pl-2 font-dancing  font-weight-bold text-center ">Contact</h1>
  <div class="container">
    <h4 class="text-center">Day care and transport facility available</h4>
    <div class="row">
      <div class="col-6">
        <div class="bgColor4 text-white p-2">
          <h3 class="font-dancing"> Suggestions / Questions? </h3>

          <!-- <form class="form-horizontal" [formGroup]="form"> -->
          <form class="form-horizontal">
            <div class="form-group">
              <div class="row pt-2">
                <label class="col-2 offset-1 control-label" for="form-control-1">Name<span
                    class="required">*</span></label>
                <div class="col-8">
                  <input class="form-control" type="text" placeholder="e.g. John Doe">
                  <!--add -> [formControl]="name" above -->
                </div>
              </div>
              <div class="row pt-2">
                <label class="col-2 offset-1 control-label" for="form-control-1">Email<span
                    class="required">*</span></label>
                <div class="col-8">
                  <input class="form-control" type="text" placeholder="e.g. JohnDoe@examplemail.com">
                </div>
              </div>
              <div class="row pt-2">
                <label class="col-2 offset-1 control-label" for="form-control-1">Subject<span
                    class="required">*</span></label>
                <div class="col-8">
                  <input class="form-control" type="text">
                </div>
              </div>
              <div class="row pt-2">
                <label class="col-2 offset-1 control-label" for="form-control-1">Message<span
                    class="required">*</span></label>
                <div class="col-8">
                  <textarea class="form-control" type="text" cols="30" rows="5"></textarea>
                </div>
              </div>

              <div class="text-center">
                <button class="btn bgColor3 pt-2 btn-lg rounded-pill text-white" type="submit"
                  onclick="submitSuggestions()">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-6">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3889.9378823328425!2d77.64788061413398!3d12.847288621071522!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae6b6319e5cfff%3A0xc086d0dc6abeda66!2s5Tattvaa%20Preschool%20and%20Daycare!5e0!3m2!1sen!2sin!4v1584004200683!5m2!1sen!2sin"
          width="600" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
          tabindex="0"></iframe>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-12 ">
        <h3 class="font-dancing text-center">
          <strong>School Timings: </strong> 8:00 AM - 8:00 PM
        </h3>
        <h5 class="text-center">
          <i class="textBlack fa fa-map-marker"></i> 4 & 5, 10th Main Road, <br> Celebrity Paradise Layout, <br>
          Doddathogur,Electronic City <br>
          Bangalore- 560 100 <br> <br>

          <i class="textBlack fa fa-phone"></i> <a href="tel: 09108614444" class="textBlack text-decoration-none">
            9108614444</a> /
          <a href="tel:09108164444" class="textBlack text-decoration-none">9108164444</a>
          <br>

          <i class="textBlack fa fa-envelope"></i> <a href="mailto:5tattvaa@gmail.com"
            class="textBlack text-decoration-none"> 5tattvaa@gmail.com</a> <br>

          <!-- Website: www.5tattvaa.com -->
        </h5>
      </div>
    </div>

  </div>
</section>
<!-- /Contact -->

<!-- ParentsCorner -->
<section id="ParentsCorner">
  <hr>
  <h1 class="pt-3 pl-2 font-dancing  font-weight-bold text-center  ">Parents' Corner</h1>
  <div class="container">
    <h3 class="font-dancing">Why Us?</h3>
    <p>With the number of preschools around you, how would you choose the right one for your child?</p>
    <div class="row">
      <div class="col-6">
        <h3 class="font-dancing">Here are some questions that may help you make a better choice.</h3>
        <ul>
          <li>What difference can quality early education make to a child's learning?</li>
          <li>Is early learning all about learning through fun, music, art, fantasy or is there more?</li>
          <li>Why does research say that learning stops at 7 and application starts from then on?</li>
          <li>What is the right age to send your child to a preschool?</li>
          <li>Is it better to send your child to a regular K-12 school or an Early Education Centre?</li>
          <li>Do children learn best individually, in small groups or large ones?</li>
          <li>Will your child be able to transition well into class 1 in a regular school?</li>
          <li>Does technology hurt or help the learning of a young child?</li>
          <li>What is the meaning of curriculum in a preschool? </li>
          <li>What is Montessori, kindergarten, playway, multiple-
            intelligence etc.?</li>
        </ul>
      </div>
      <div class="col-6">
        <div class="bgColor4 text-white p-2">
          <h3 class="font-dancing"> Speak Out! </h3>

          <!-- <form class="form-horizontal" [formGroup]="form"> -->
          <form class="form-horizontal">
            <div class="form-group">
              <div class="row pt-2">
                <label class="col-2 offset-1 control-label" for="form-control-1">Name<span
                    class="required">*</span></label>
                <div class="col-8">
                  <input class="form-control" type="text" placeholder="e.g. John Doe">
                  <!--add -> [formControl]="name" above -->
                </div>
              </div>
              <div class="row pt-2">
                <label class="col-2 offset-1 control-label" for="form-control-1">Email<span
                    class="required">*</span></label>
                <div class="col-8">
                  <input class="form-control" type="text" placeholder="e.g. JohnDoe@examplemail.com">
                </div>
              </div>
              <div class="row pt-2">
                <label class="col-2 offset-1 control-label" for="form-control-1">Subject<span
                    class="required">*</span></label>
                <div class="col-8">
                  <input class="form-control" type="text">
                </div>
              </div>
              <div class="row pt-2">
                <label class="col-2 offset-1 control-label" for="form-control-1">Message<span
                    class="required">*</span></label>
                <div class="col-8">
                  <textarea class="form-control" type="text" cols="30" rows="5"></textarea>
                </div>
              </div>

              <div class="text-center">
                <button class="btn bgColor3 mt-3 btn-lg rounded-pill text-white" type="submit"
                  onclick="submitSuggestions()">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <h2 class="font-dancing text-center">Please visit us for answers to all above and more...</h2>
  </div>
</section>
<!-- /ParentsCorner -->
<div class="pt-5"></div>
<div class="pt-5"></div>

<!-- footer -->
<footer class="page-footer font-small pt-3 bgBlack text-white">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-3 mt-md-0 mt-3">
        <p><i class="fa fa-map-marker"></i> 4 & 5, 10th Main Road, <br> Celebrity Paradise Layout, <br>
          Doddathogur,Electronic City <br>
          Bangalore- 560 100 <br> <br>
          <i class="fa fa-phone"></i> <a href="tel: 09108614444" class="text-white text-decoration-none">
            9108614444</a> /
          <a href="tel:09108164444" class="text-white text-decoration-none">9108164444</a> <br>
          <i class="fa fa-envelope"></i> <a href="mailto:5tattvaa@gmail.com"
            class="text-white text-decoration-none"> 5tattvaa@gmail.com</a>
        </p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">

      <div class="col-1 mb-md-0 mb-3">
        <ul class="list-unstyled">
          <li>
            <a class="text-white" href="#Home"> Home
            </a>
          </li>
          <li>
            <a class="text-white" href="#Philosophy"> Philosophy
            </a>
          </li>
          <li>
            <a class="text-white" href="#Learning">Learning Tools
            </a>
          </li>
          <li>
            <a class="text-white" href="#Events">Events
            </a>
          </li>
          <li>
            <a class="text-white" href="#Admissions">Admissions
            </a>
          </li>
        </ul>
      </div>
      <div class="col-1 mb-md-0 mb-3">
        <ul class="list-unstyled">
          <li>
            <a class="text-white" href="#Gallery">Gallery
            </a>
          </li>
          <li>
            <a class="text-white" href="#Contact">Contact Us
            </a>
          </li>
          <li>
            <a class="text-white" href="#About">About
            </a>
          </li>
          <li>
            <a class="text-white" href="#ParentsCorner">Parents' Corner
            </a>
          </li>
        </ul>
      </div>
      <div class="col-7 text-right">
        <a href="#" class="back-to-top">
          <i class="fa fa-chevron-up text-white"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a class="text-white" href="http://techwedge.com/">Techwedge Software Solutions</a>
  </div>
</footer>
<!-- Footer -->
<!-- /footer -->
