body {
  font-family: 'Josefin Sans', sans-serif;
}

// User defined CSS
.font-dancing {
  font-family: 'Dancing Script', cursive;
}

.font-josefin {
  font-family: 'Josefin Sans',
    sans-serif;
}

.bgColor1 {
  background-color: #71f051;
}

.bgColor2 {
  background-color: #BE004F;
}

.bgColor3 {
  background-color: #0295E1;
}

.bgColor4 {
  background-color: #E77719;
}

.bgColor5 {
  background-color: #FFC000;
}
.bgBlack {
  background-color: #373737;
}

.textColor1 {
  color: #71f051;
}

.textColor2 {
  color: #BE004F;
}

.textColor3 {
  color: #0295E1;
}

.textColor4 {
  color: #E77719;
}

.textColor5 {
  color: #FFC000;
}

.textBlack {
  color: #373737;
}

hr{
  border: 0.5px solid #373737;
}
.border2{
  border: 2px solid;
}

blockquote{
  font-style: italic;
}